* .navbar {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.nav-link {
  margin-right: 15px;
  font-size: 18px;
  color: black;
  font-weight: 450px;

}

.nav-link:hover {
  color: rgba(25, 135, 84, 1);
}

.Home {
  display: flex;
}

.leftside-1 h2 {
  font-size: 45px;
  margin-left: 170px;
  margin-top: 65%;
  font-weight: 700;
}

.rightside-1 img {
  width: 649px;
  margin-left: 17.3%;
  margin-top: -110px;
  height: 120%;
}


.leftside-2 p {
  font-size: 18px;

  margin-left: 170px;
  margin-top: 20px;
}

.btn {
  margin-left: 170px;
  /* gap: 70px; */
  /* padding-right: 20px; */
  /* width: 150px;
  height: 50px; */
}

.rightside-2 img {
  width: 650px;
  margin-left: 51.7%;
  margin-top: -126px;
  height: 120%;
}

.search-section {
  background: #00b985;
  padding: 30px 0;
  margin-right: 20px;
  margin-left: 60px;
}


.btn-search {
  height: 35px;
  background: #0a2540;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  border-radius: 6px;
  margin-left: 25px;
}

.btn-search:hover {
  background: white;
  color: black;
  font-weight: 600;
}


/* property type */
#box-8 {
  border: 3px dashed #00b98e;
  width: 300px;
  padding: 30px;
  margin-left: 30px;
}

#box-8:hover {
  background-color: whitesmoke;
  color: green;
  border: 3px solid #00b985;
}




.find-property-section img {
  width: 100%;
  /* position: relative;
  z-index: 2; */
}

.find-property-section h1 {
  margin-left: 30px;
  font-size: 38px;
  margin-top: -10px;
}

.find-property-section p {
  margin-left: 30px;
  font-size: 18px;
  width: 630px;
}

.find-property-section .btn {
  margin-left: 30px;
  margin-top: 20px;
}

.find-property-section .list-unstyled .property-list ul {
  margin-right: -30px;
  /* font-size: 16px; */
}


/* green background shape */
.green-shape {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100%;
  height: 110%;
  background-color: #00b985;
  z-index: -1;
  clip-path: polygon(0 0, 20% 0, 60% 100%, 0% 100%);
}

/* List */
.property-list li {
  font-size: 16px;
  margin-bottom: 12px;
  margin-left: 30px;
  color: #555;

}




/* Button override (optional) */
.btn-success {
  background-color: #00b98e;
  border: none;
}

.btn-success:hover {
  background-color: #009d78;
}

/* Heading */
.property-heading {
  font-size: 42px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

/* Paragraph */
.property-text {
  font-size: 16px;
  color: #555;
  max-width: 700px;
  line-height: 1.7;
}

/* Buttons wrapper */
.filter-buttons .btn {
  margin-left: 10px;
  padding: 8px 22px;
  border-radius: 6px;
  font-weight: 500;
}

/* Featured button */
.btn-featured {
  background-color: #00B98E;
  color: #fff;
  border: 1px solid #00B98E;
}

.btn-featured:hover {
  background-color: #009f79;
  border-color: #009f79;
}

/* Outline buttons */
.btn-outline-custom {
  background: transparent;
  color: #00B98E;
  border: 1px solid #00B98E;
}

.btn-outline-custom:hover {
  background-color: #00B98E;
  color: #fff;
}



.property-list button {
  margin-right: 20px;
}

.property-card {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.property-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.badge {
  padding: 8px 12px;
  font-size: 14px;
  /* color: #00B98E; */
  background-color: #00B98E;
}



.property-type {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background-color: #ffffff;
  /* color: #00B98E; */
  color: black;
  /* border: 1px solid #00B98E; */
  padding: 4px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: -20px;
}

.browse-btn {
  background-color: #00B98E;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 42.5%;
  /* text-align: center; */
}


.browse-btn:hover {
  background-color: #009a76;
  color: #ffffff;
}


/* Contact Agent Section */
.agent-section {
  margin: auto;
}

.agent-box {
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px dashed #00b98e;

}

.agent-content h1 {
  font-size: 42px;
  font-weight: 650;
  color: black;
  margin-left: 53%;
  margin-top: -330px;
}

.agent-content p {
  font-size: 16px;
  color: #6c757d;
  max-width: 700px;
  line-height: 1.7;
  margin-left: 53%;
}


.agent-box img {
  border-radius: 12px;
}


.agent-buttons {
  display: flex;
  gap: 15px;
  margin-left: 53%;
}

.agent-buttons a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
}

.btn-call {
  background-color: #00b98e;
}

.btn-call:hover {
  background-color: #009b77;
}

.btn-appointment {
  background-color: rgb(42, 41, 41);
}

.btn-appointment:hover {
  background-color: black;
}


/*  */

.agent-card img {
  border-radius: 8px 8px 0 0;
  height: auto;
}


.agent-social {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.agent-social a {
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
   color: #00b98e;      
  font-size: 18px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
  text-decoration: none;
  margin-top: -40px;
}

.agent-social a:hover {
  background: #00b98e;
  color: #ffffff;
}


/*  */
.testimonial-wrapper {
  /* background: #f0fff9; */
  /* background-color: whitesmoke; */
  padding: 30px;
  border-radius: 10px;
}
.testimonial-wrapper img {
  width: 60px;
  margin-left: 20px;
}

.testimonial-item {
  background: #ffffff;
  padding-left: 30px;
  border-radius: 8px;
  border: 2px dashed #00b98e;
  margin-bottom: 25px;
  height: 130px;
}

.testimonial-item p {
  /* width: 100%; */
  color: #555;
  font-size: 16px;
  /* margin-right: -20px; */
  margin-top: 10px;
  margin-left: 20px;
}


/*  */
.footer {
  background: #0b2c4d;
  color: #b0c4d8;
}

.footer-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
}

.footer-social a {
  width: 40px;
  height: 40px;
  border: 1px solid #b0c4d8;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-right: 8px;
  transition: 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background-color: white;
  color: #00b98e;
  border-color: #00b98e;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #b0c4d8;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00b98e;
  /* color: white; */
  font-size: 16px;
}

.gallery-img {
  border-radius: 6px;
  border: 2px solid #ffffff;
}

.footer-input {
  background: transparent;
  border: 1px solid #b0c4d8;
  color: #ffffff;
  padding-right: 90px;
  height: 50px;
}

.footer-input::placeholder {
  color: #b0c4d8;
  
}

.footer-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #00b98e;
  color: #ffffff;
}

.footer-btn:hover{
  background-color: #009b77;
  color: #ffffff;
}

.footer-line {
  border-color: rgba(255,255,255,0.2);
}

.footer-bottom-link {
  color: #ffffff;
  margin-left: 15px;
  text-decoration: none;
}

.footer-bottom-link:hover {
  color: #00b98e;
}

.footer span{
  color: white;
}
